POApplication/OnlineStore/WSDLs/OnlineStoreService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
     name="OnlineStoreService"
     targetNamespace="http://xmlns.techlabs.local/oracle/apps"
     xmlns:errors="http://xmlns.oracle.com/adf/svc/errors/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://xmlns.techlabs.local/oracle/apps"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:types="http://xmlns.techlabs.local/oracle/apps/types/"
    >
    <wsdl:import namespace="http://xmlns.oracle.com/adf/svc/errors/" location="ServiceException.wsdl"/>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.techlabs.local/oracle/apps/types/"
                    schemaLocation="../Schemas/OnlineStoreService.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="OnlineStoreService_getOnlineStoreView1">
        <wsdl:part name="parameters" element="types:getOnlineStoreView1"/>
    </wsdl:message>
    <wsdl:message name="OnlineStoreService_getOnlineStoreView1Response">
        <wsdl:part name="parameters" element="types:getOnlineStoreView1Response"/>
    </wsdl:message>
    <wsdl:message name="OnlineStoreService_createOnlineStoreView1">
        <wsdl:part name="parameters" element="types:createOnlineStoreView1"/>
    </wsdl:message>
    <wsdl:message name="OnlineStoreService_createOnlineStoreView1Response">
        <wsdl:part name="parameters" element="types:createOnlineStoreView1Response"/>
    </wsdl:message>
    <wsdl:message name="OnlineStoreService_updateOnlineStoreView1">
        <wsdl:part name="parameters" element="types:updateOnlineStoreView1"/>
    </wsdl:message>
    <wsdl:message name="OnlineStoreService_updateOnlineStoreView1Response">
        <wsdl:part name="parameters" element="types:updateOnlineStoreView1Response"/>
    </wsdl:message>
    <wsdl:message name="OnlineStoreService_deleteOnlineStoreView1">
        <wsdl:part name="parameters" element="types:deleteOnlineStoreView1"/>
    </wsdl:message>
    <wsdl:message name="OnlineStoreService_deleteOnlineStoreView1Response">
        <wsdl:part name="parameters" element="types:deleteOnlineStoreView1Response"/>
    </wsdl:message>
    <wsdl:message name="OnlineStoreService_mergeOnlineStoreView1">
        <wsdl:part name="parameters" element="types:mergeOnlineStoreView1"/>
    </wsdl:message>
    <wsdl:message name="OnlineStoreService_mergeOnlineStoreView1Response">
        <wsdl:part name="parameters" element="types:mergeOnlineStoreView1Response"/>
    </wsdl:message>
    <wsdl:message name="OnlineStoreService_findOnlineStoreView1">
        <wsdl:part name="parameters" element="types:findOnlineStoreView1"/>
    </wsdl:message>
    <wsdl:message name="OnlineStoreService_findOnlineStoreView1Response">
        <wsdl:part name="parameters" element="types:findOnlineStoreView1Response"/>
    </wsdl:message>
    <wsdl:message name="OnlineStoreService_processOnlineStoreView1">
        <wsdl:part name="parameters" element="types:processOnlineStoreView1"/>
    </wsdl:message>
    <wsdl:message name="OnlineStoreService_processOnlineStoreView1Response">
        <wsdl:part name="parameters" element="types:processOnlineStoreView1Response"/>
    </wsdl:message>
    <wsdl:message name="OnlineStoreService_processCSOnlineStoreView1">
        <wsdl:part name="parameters" element="types:processCSOnlineStoreView1"/>
    </wsdl:message>
    <wsdl:message name="OnlineStoreService_processCSOnlineStoreView1Response">
        <wsdl:part name="parameters" element="types:processCSOnlineStoreView1Response"/>
    </wsdl:message>
    <wsdl:portType name="OnlineStoreService">
        <wsdl:documentation>
            <ViewInstance xmlns="http://xmlns.oracle.com/adf/svc/metadata/" Name="OnlineStoreView1" xmlns:ns0="/techlabs/common/"
                 SDOName="ns0:OnlineStoreViewSDO" CreateOpName="createOnlineStoreView1" UpdateOpName="updateOnlineStoreView1"
                 DeleteOpName="deleteOnlineStoreView1" MergeOpName="mergeOnlineStoreView1"
                 GetOpName="getOnlineStoreView1" FindOpName="findOnlineStoreView1" ProcessOpName="processOnlineStoreView1"
                 ProcessCSOpName="processCSOnlineStoreView1"/>
        </wsdl:documentation>
        <wsdl:operation name="getOnlineStoreView1">
            <wsdl:input message="tns:OnlineStoreService_getOnlineStoreView1"/>
            <wsdl:output message="tns:OnlineStoreService_getOnlineStoreView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="createOnlineStoreView1">
            <wsdl:input message="tns:OnlineStoreService_createOnlineStoreView1"/>
            <wsdl:output message="tns:OnlineStoreService_createOnlineStoreView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="updateOnlineStoreView1">
            <wsdl:input message="tns:OnlineStoreService_updateOnlineStoreView1"/>
            <wsdl:output message="tns:OnlineStoreService_updateOnlineStoreView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteOnlineStoreView1">
            <wsdl:input message="tns:OnlineStoreService_deleteOnlineStoreView1"/>
            <wsdl:output message="tns:OnlineStoreService_deleteOnlineStoreView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="mergeOnlineStoreView1">
            <wsdl:input message="tns:OnlineStoreService_mergeOnlineStoreView1"/>
            <wsdl:output message="tns:OnlineStoreService_mergeOnlineStoreView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="findOnlineStoreView1">
            <wsdl:input message="tns:OnlineStoreService_findOnlineStoreView1"/>
            <wsdl:output message="tns:OnlineStoreService_findOnlineStoreView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="processOnlineStoreView1">
            <wsdl:input message="tns:OnlineStoreService_processOnlineStoreView1"/>
            <wsdl:output message="tns:OnlineStoreService_processOnlineStoreView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="processCSOnlineStoreView1">
            <wsdl:input message="tns:OnlineStoreService_processCSOnlineStoreView1"/>
            <wsdl:output message="tns:OnlineStoreService_processCSOnlineStoreView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OnlineStoreServiceSoapHttp" type="tns:OnlineStoreService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getOnlineStoreView1">
            <soap:operation soapAction="http://xmlns.techlabs.local/oracle/apps/getOnlineStoreView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createOnlineStoreView1">
            <soap:operation soapAction="http://xmlns.techlabs.local/oracle/apps/createOnlineStoreView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateOnlineStoreView1">
            <soap:operation soapAction="http://xmlns.techlabs.local/oracle/apps/updateOnlineStoreView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteOnlineStoreView1">
            <soap:operation soapAction="http://xmlns.techlabs.local/oracle/apps/deleteOnlineStoreView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="mergeOnlineStoreView1">
            <soap:operation soapAction="http://xmlns.techlabs.local/oracle/apps/mergeOnlineStoreView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findOnlineStoreView1">
            <soap:operation soapAction="http://xmlns.techlabs.local/oracle/apps/findOnlineStoreView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="processOnlineStoreView1">
            <soap:operation soapAction="http://xmlns.techlabs.local/oracle/apps/processOnlineStoreView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="processCSOnlineStoreView1">
            <soap:operation soapAction="http://xmlns.techlabs.local/oracle/apps/processCSOnlineStoreView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OnlineStoreService">
        <wsdl:port name="OnlineStoreServiceSoapHttpPort" binding="tns:OnlineStoreServiceSoapHttp">
            <soap:address location="http://orasoa12.techlabs.local:7004/OnlineStoreSDO/OnlineStoreService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
