POApplication/InternalStore/WSDLs/InternalStoreService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
     name="InternalStoreService"
     targetNamespace="http://xmlns.techlabs.local/oracle/apps"
     xmlns:errors="http://xmlns.oracle.com/adf/svc/errors/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://xmlns.techlabs.local/oracle/apps"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:types="http://xmlns.techlabs.local/oracle/apps/types/"
    >
    <wsdl:import namespace="http://xmlns.oracle.com/adf/svc/errors/" location="ServiceException.wsdl"/>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.techlabs.local/oracle/apps/types/"
                    schemaLocation="../Schemas/InternalStoreService.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="InternalStoreService_getInternalStoreView1">
        <wsdl:part name="parameters" element="types:getInternalStoreView1"/>
    </wsdl:message>
    <wsdl:message name="InternalStoreService_getInternalStoreView1Response">
        <wsdl:part name="parameters" element="types:getInternalStoreView1Response"/>
    </wsdl:message>
    <wsdl:message name="InternalStoreService_createInternalStoreView1">
        <wsdl:part name="parameters" element="types:createInternalStoreView1"/>
    </wsdl:message>
    <wsdl:message name="InternalStoreService_createInternalStoreView1Response">
        <wsdl:part name="parameters" element="types:createInternalStoreView1Response"/>
    </wsdl:message>
    <wsdl:message name="InternalStoreService_updateInternalStoreView1">
        <wsdl:part name="parameters" element="types:updateInternalStoreView1"/>
    </wsdl:message>
    <wsdl:message name="InternalStoreService_updateInternalStoreView1Response">
        <wsdl:part name="parameters" element="types:updateInternalStoreView1Response"/>
    </wsdl:message>
    <wsdl:message name="InternalStoreService_deleteInternalStoreView1">
        <wsdl:part name="parameters" element="types:deleteInternalStoreView1"/>
    </wsdl:message>
    <wsdl:message name="InternalStoreService_deleteInternalStoreView1Response">
        <wsdl:part name="parameters" element="types:deleteInternalStoreView1Response"/>
    </wsdl:message>
    <wsdl:message name="InternalStoreService_mergeInternalStoreView1">
        <wsdl:part name="parameters" element="types:mergeInternalStoreView1"/>
    </wsdl:message>
    <wsdl:message name="InternalStoreService_mergeInternalStoreView1Response">
        <wsdl:part name="parameters" element="types:mergeInternalStoreView1Response"/>
    </wsdl:message>
    <wsdl:message name="InternalStoreService_findInternalStoreView1">
        <wsdl:part name="parameters" element="types:findInternalStoreView1"/>
    </wsdl:message>
    <wsdl:message name="InternalStoreService_findInternalStoreView1Response">
        <wsdl:part name="parameters" element="types:findInternalStoreView1Response"/>
    </wsdl:message>
    <wsdl:message name="InternalStoreService_processInternalStoreView1">
        <wsdl:part name="parameters" element="types:processInternalStoreView1"/>
    </wsdl:message>
    <wsdl:message name="InternalStoreService_processInternalStoreView1Response">
        <wsdl:part name="parameters" element="types:processInternalStoreView1Response"/>
    </wsdl:message>
    <wsdl:message name="InternalStoreService_processCSInternalStoreView1">
        <wsdl:part name="parameters" element="types:processCSInternalStoreView1"/>
    </wsdl:message>
    <wsdl:message name="InternalStoreService_processCSInternalStoreView1Response">
        <wsdl:part name="parameters" element="types:processCSInternalStoreView1Response"/>
    </wsdl:message>
    <wsdl:portType name="InternalStoreService">
        <wsdl:documentation>
            <ViewInstance xmlns="http://xmlns.oracle.com/adf/svc/metadata/" Name="InternalStoreView1" xmlns:ns0="/techlabs/common/"
                 SDOName="ns0:InternalStoreViewSDO" CreateOpName="createInternalStoreView1"
                 UpdateOpName="updateInternalStoreView1" DeleteOpName="deleteInternalStoreView1"
                 MergeOpName="mergeInternalStoreView1" GetOpName="getInternalStoreView1" FindOpName="findInternalStoreView1"
                 ProcessOpName="processInternalStoreView1" ProcessCSOpName="processCSInternalStoreView1"/>
        </wsdl:documentation>
        <wsdl:operation name="getInternalStoreView1">
            <wsdl:input message="tns:InternalStoreService_getInternalStoreView1"/>
            <wsdl:output message="tns:InternalStoreService_getInternalStoreView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="createInternalStoreView1">
            <wsdl:input message="tns:InternalStoreService_createInternalStoreView1"/>
            <wsdl:output message="tns:InternalStoreService_createInternalStoreView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="updateInternalStoreView1">
            <wsdl:input message="tns:InternalStoreService_updateInternalStoreView1"/>
            <wsdl:output message="tns:InternalStoreService_updateInternalStoreView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteInternalStoreView1">
            <wsdl:input message="tns:InternalStoreService_deleteInternalStoreView1"/>
            <wsdl:output message="tns:InternalStoreService_deleteInternalStoreView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="mergeInternalStoreView1">
            <wsdl:input message="tns:InternalStoreService_mergeInternalStoreView1"/>
            <wsdl:output message="tns:InternalStoreService_mergeInternalStoreView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="findInternalStoreView1">
            <wsdl:input message="tns:InternalStoreService_findInternalStoreView1"/>
            <wsdl:output message="tns:InternalStoreService_findInternalStoreView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="processInternalStoreView1">
            <wsdl:input message="tns:InternalStoreService_processInternalStoreView1"/>
            <wsdl:output message="tns:InternalStoreService_processInternalStoreView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="processCSInternalStoreView1">
            <wsdl:input message="tns:InternalStoreService_processCSInternalStoreView1"/>
            <wsdl:output message="tns:InternalStoreService_processCSInternalStoreView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="InternalStoreServiceSoapHttp" type="tns:InternalStoreService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getInternalStoreView1">
            <soap:operation soapAction="http://xmlns.techlabs.local/oracle/apps/getInternalStoreView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createInternalStoreView1">
            <soap:operation soapAction="http://xmlns.techlabs.local/oracle/apps/createInternalStoreView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateInternalStoreView1">
            <soap:operation soapAction="http://xmlns.techlabs.local/oracle/apps/updateInternalStoreView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteInternalStoreView1">
            <soap:operation soapAction="http://xmlns.techlabs.local/oracle/apps/deleteInternalStoreView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="mergeInternalStoreView1">
            <soap:operation soapAction="http://xmlns.techlabs.local/oracle/apps/mergeInternalStoreView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findInternalStoreView1">
            <soap:operation soapAction="http://xmlns.techlabs.local/oracle/apps/findInternalStoreView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="processInternalStoreView1">
            <soap:operation soapAction="http://xmlns.techlabs.local/oracle/apps/processInternalStoreView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="processCSInternalStoreView1">
            <soap:operation soapAction="http://xmlns.techlabs.local/oracle/apps/processCSInternalStoreView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="InternalStoreService">
        <wsdl:port name="InternalStoreServiceSoapHttpPort" binding="tns:InternalStoreServiceSoapHttp">
            <soap:address location="http://orasoa12.techlabs.local:7004/InternalStoreSDO/InternalStoreService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
